body {
    font-family: "spirits-soft", serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    margin-top: 74px;
    border: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    caret-color: transparent;
}

h1 {
    display: inline;
    font-family: "spirits-soft", serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    margin-left: .35em;
    width: calc(100% - 3.75em);
}

h2 {
    font-weight: 100;
    font-variant: small-caps;
    margin: 0;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    /*width: 100%;*/
}

h2 img {
    width: 2em;
    height: 2em;
    border-radius: 4px;
    vertical-align: middle;
    padding: .1em;
    display: inline;
    border-top: .5px solid #f6f6f6;
    border-right: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    border-left: .5px solid #f6f6f6;
    background-image: url(../images/button-bg.png);
    background-size: contain;
}

h2 span {
    vertical-align: middle;
    padding: .6em;
}

hr {
    background-image: url('../images/bumps-top-ocher.svg');
    background-repeat: repeat-x;
    height: 14px;
    border: none;
    margin: 0;
}

header {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: #faf7dc;
    color: #b99f65;
    font-size: 1em;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url('../images/runes-bottom-ivory.svg');
    height: 3em;
    background-size: contain;
    background-repeat: repeat-x;
    border: none;
    margin: 0;
    padding: 0;
    z-index: -1;
}

main {
    display: inline-block;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    color: white;
}

main div {
    padding: 15px;
    background-color: rgba(49, 49, 49, 0.65);
    border-radius: 0 0 10px 10px;
}

main div div {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

menu ul {
    position: absolute;
    right: 2em;
    top: 74px;
    background-color: #63523e;
    font-family: "lora", serif;
    color: #faf7dc;
    border: 0;
    margin: 0;
    padding: .25em;
    display: flex;
}

menu ul hr {
    display: flex;
}

menu ul span {
    padding: 1em 4em;
    display: flex;
    cursor: pointer;
}

menu ul span:hover {
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0%;
}

error {
    font-family: "lora", serif;
    color: darkred;
    display: block;
    text-align: center;
    margin: 2em;
}

panel, #shoppingList, #enhancementItems {
    text-align: left;
    display: block;
    padding: 0;
    padding-top: .25em;
    margin-bottom: 2em;
    width: 960px;
}

tabbar {
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
}

tab {
    flex: 1;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(49, 49, 49, 0.65);
    flex-direction: column;
    display: flex;
    align-items: center;
}

tab p {
    cursor: pointer;
    margin: auto;
}

tab p:hover {
    color: #faf7dc;
}

tab span {
    font-family: "lora", serif;
    font-weight: 100;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: lighter;
    text-align: left;
    align-items: center;
    display: inline-block;
}

.active-tab {
    background-color: rgba(86, 86, 86, 0.65);
    color: #faf7dc;
}

.armor-panel p {
    margin: 0;
    display:flex;
    position: relative;
    top: -.5em;
}

.armor-panel p p, .icon-wrapper p, li{
    margin: 0;
    display: inline-flex;
    font-family: "lora", serif;
    font-size: 1em;
}

.armor-panel, #enhancementItemsContainer div div {
    background-color: #b99f65;
    border-radius: 6px;
    cursor: pointer;
    padding: .5em;
    margin: .75em;
    width: 436px;
    display: inline-block;
    vertical-align:top;
    border-top: 1px solid #dadcaa;
    border-right: 2px solid #63523e;
    border-bottom: 2px solid #63523e;
    border-left: 1px solid #dadcaa;
}

.armor-panel p, #enhancementItemsContainer div div ul {
    text-align: center;
}

.armor-panel .icon-wrapper, ul li {
    text-align: center;
    display: inline-block;
    margin: 0 1.25em;
}

.armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
    width: 5em;
    height:5em;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/button-bg.png);
    background-size: contain;
    border-radius: 14px;
    display: flex;
    flex: 1;
    margin: auto;
    border-top: .5px solid #f6f6f6;
    border-right: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    border-left: .5px solid #f6f6f6;
}

.armor-panel p > div > img:nth-of-type(1):active, .icon-wrapper > img:nth-of-type(1):active, li img:active, h2 img:active {
    border-top: 2px solid #948d75;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 2px solid #948d75;
}

.icon {
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    height: 1.6em;
}

.icon-wrapper p, li p {
    max-width: 6.25em;
    position: relative;
}

.p-level-0 {
    background-color: rgb(195, 194, 194);
}

.p-level-0:hover, li img, h2 img {
    background-color: rgb(224, 224, 224);
}

.p-level-0:active, li img, h2 img {
    background-color: #e8ddc6;
}

.p-level-1 {
    background-color: #faf7dc;
}

.hr2 {
    background-image: url('../images/rune-hr.png');
    background-repeat: repeat-x;
    height: 7px;
    border: none;
    margin: .75em 0;
    display: block;
    background-size: contain;
}

.set-icons {
    display: flex;
    flex-direction: column;
}

.set-icons div .star-outline.show {
    display: inline;
}

#shoppingList, #enhancementItemsContainer > div > div {
    background-color: #b99f65;
    border-radius: 4px;
    margin: .75em;
    display: inline-block;
    vertical-align:top;
    padding: .5em;
}

#shoppingList p1, #enhancementItems p1 {
    font-size: 1.75em;
    padding: 0 .5em;
}

#OtherGarmentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#OtherGarments {
    width: 920px;
}

#OtherGarments h2 {
    align-self: flex-start;
    display: block;
    margin-bottom: 0.5em;
}

#otherGarments hr {
    display: block;
    min-width: 100%;
    margin: 0.5em 0;
}

#otherGarmentContainer .icon-wrapper {
    text-align: center;
    flex: 0 0 50%; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    margin: 0 1.25em;
}

#shoppingListContainer ul {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Style For Star Outlines */
.set-icons div .star, .set-icons div .star-outline, .icon-wrapper div .star, .icon-wrapper div .star-outline {
    display: none;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.star-container .star, .star-container .star-outline {
    width: 1em;
    height: 1em;
    position: relative;
}

/* Media querry prevents visibility stickyness */
@media (hover: hover) {
    .icon-wrapper-preview:hover .star-outline {
        display: inline;
    }
}

.star-container {
    position: relative;
    top: -1.5em;
    width: 5em;
    height: 1em;
    z-index: 099;
    margin: auto;
}

/* Icons */
.menu {
    width: 1.6em;
    height: 1.6em;
    background-image: url('../images/bars-solid.svg');
    background-size: cover;
}

.hyrule-crest {
    display: inline;
    width: 3em;
    height: 1.8em;
    background-image: url('../images/hyrule-crest.svg');
    background-size: cover;
}

/* Landscape background image */
@media (orientation: landscape) {
    body {
        background-image: url("../images/totk-bg-land.jpg");
    }
}
  
/* Portrait background image */
@media (orientation: portrait) {
    body {
        background-image: url("../images/totk-bg-port.jpg");
    }
}


/* Media Queries */
/* Mobile Screens (high-denisty pixel phones, 480px and down) */
@media only screen and (max-width: 480px) {
    panel, #shoppingList, #enhancementItems {
        width: 100%;
    }

    #OtherGarments {
        width: calc(100% - 20px);
    }

    .armor-panel, #enhancementItemsContainer div div {
        width: calc((100% - 86px)/2);
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 .5em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 4em;
        height:4em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: .85em;
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 480px) {
    panel, #shoppingList, #enhancementItems {
        width: 480px;
    }

    #OtherGarments {
        width: 450px;
    }

    .armor-panel, #enhancementItemsContainer div div {
        width: calc((480px - 86px)/2);
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 .5em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 4em;
        height:4em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: .85em;
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    panel, #shoppingList, #enhancementItems {
        width: 560px;
    }

    #OtherGarments {
        width: 520px;
    }

    .armor-panel, #enhancementItemsContainer div div {
        width: calc((560px - 86px)/2);
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 .75em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 4em;
        height:4em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: .85em;
        display: inline-flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    panel, #shoppingList, #enhancementItems {
        width: 700px;
    }

    #OtherGarments {
        width: 660px;
    }

    .armor-panel, #enhancementItemsContainer div div {
        width: calc((700px - 86px)/2);
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 .5em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 4em;
        height:4em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: .85em;
        display: inline-flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    panel, #shoppingList, #enhancementItems {
        width: 840px;
    }

    #OtherGarments {
        width: 800px;
    }

    .armor-panel, #enhancementItemsContainer div div {
        width: calc((840px - 86px)/2);
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 .75em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 5em;
        height:5em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: 1em;
        display: inline-flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    panel, #shoppingList, #enhancementItems {
        width: 960px;
    }

    #OtherGarments {
        width: 920px;
    }

    .armor-panel, #enhancementItemsContainer div div {
        width:436px;
    }

    .armor-panel .icon-wrapper, #otherGarmentContainer .icon-wrapper, ul li {
        margin: 0 1.25em;
    }

    .armor-panel p > div > img:nth-of-type(1), .icon-wrapper > img:nth-of-type(1), li img {
        width: 5em;
        height:5em;
    }

    .star-container .star, .star-container .star-outline {
        width: 1em;
        height: 1em;
    }

    .star-container {
        top: -1.5em;
        width: 5em;
        height: 1em;
    }

    .armor-panel p p, .icon-wrapper p, li{
        font-size: 1em;
        display: inline-flex;
    }
}